<div class="auth-container">
  <span class="title"><h2>Entrar</h2></span>
  <form action="/register" method="post">
    <div class="form-control">
      <label for="email">E-mail:</label>
      <input type="email" name="email" placeholder="Digite seu email">
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="Digite sua senha">
    </div>
    <input id="btn" type="submit" value="Entrar">
    <p id="subTitle">Não tem conta? <a href="/register">Clique aqui</a></p>
  </form>
</div>
