<section class="sectionRegister">
  <h1>Registrar</h1>
  <form action="/register" method="post" class="formRegister">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" placeholder="Digite seu nome" />
    <label for="email">E-mail</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Digite seu email"
    />
    <label for="password">Senha:</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Digite sua senha"
    />
    <label for="confirmpassword">Confirmação de senha:</label>
    <input
      type="password"
      id="confirmpassword"
      name="confirmpassword"
      placeholder="Confirme a sua senha"
    />
    <input type="submit" value="Cadastrar" />
  </form>
  <p>Já tem conta? <a href="#">Clique aqui!</a></p>
</section>

