@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
  --background: #1c1b1b;
  --blue: #068fff;
  --white: #FFF;
  --gray: #888888;
}

*{
  margin: 0;
  padding: 0;
  color: var(--white);
  box-sizing: border-box;
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
}

#logo img{
  height: 50px;
}

#navbar{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
  justify-content: space-between;
  background-color: var(--background);
  border-bottom: 2px solid var(--white);
}

#navbar ul{
  display: flex;
  list-style: none;

}

#navbar ul li{
  margin-left: 1rem;
}

#navbar ul li a{
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

#navbar ul li a:hover{
  color: var(--blue);
}

.message{
  padding: 1rem;
  color: var(--blue);
  background-color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2rem;
  max-width: 60%;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-control{
  display: flex;
  flex-direction: column;
}

.form-control input{
  font-size: 17px;
  outline: none;
  padding-left: 15px;
  border: 2px solid var(--white);
  height: 44px;
  width: 468px;
}

.form-control input:focus{
  border-color: var(--blue);
}

input::placeholder{
  font-size: 15px;
  color: var(--gray);
}

#btn{
  margin-top: 20px;
  font-size: 20px;
  border: 2px solid var(--blue);
  color: var(--blue);
  width: 154px;
  height: 44px;
  background-color: transparent;
  transition: 0.5s;
}

#btn:hover{
  background-color: var(--blue);
  color: var(--white);
}

#subTitle{
  display: flex;
  gap: 10px;
}

#subTitle a{
  color: var(--blue);
}

.title{
  font-size: 30px;
  border-left: 6px solid var(--blue);
  padding-left: 7px;
  display: flex;
  width: 468px;
  height: 55px;
  align-items: center;
}

.auth-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
}

.container{
  display: grid;
  place-items: center;
  min-height: 70vh;
  padding: 2rem;
}

footer{
  font-size: 30px;
  height: 150px;
  display: grid;
  place-items: center;
  border-top: 2px solid var(--white);
}

footer span{
  font-weight: bold;
  color: var(--blue);
}
