:root {
  --background: #1c1b1b;
  --blue: #068fff;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--white);
}

/*NAVBAR*/
#logo img {
  height: 50px;
}

#navbar {
  padding: 1.2rem 1.4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  border-bottom: 2px solid var(--white);
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1rem;
}

#navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

#navbar ul li a:hover {
  color: var(--blue);
}

/*CONTAINER*/
.container {
  min-height: 70vh;
  padding: 2rem;
}

/*FOOTER*/
footer {
  height: 150px;
  display: grid;
  place-items: center;
  border-top: 2px solid var(--white);
}
footer span {
  font-weight: bold;
  color: var(--blue);
}

/** Register */

.sectionRegister {
  max-width: 468px;
  max-height: 500px;
  margin: auto;
}

.sectionRegister h1 {
  padding: 10px 0;
}

.sectionRegister h1::before {
  content: "";
  padding: 3px;
  margin-right: 5px;
  background-color: #068fff;
}

.formRegister {
  display: flex;
  flex-direction: column;
}

.formRegister label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.formRegister input {
  border: 2px solid white;
  padding: 10px;
}

.formRegister input[type="submit"] {
  margin-top: 20px;
  max-width: 154px;
  border-color: #068fff;
  color: #068fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.formRegister input[type="submit"]:hover {
  background-color: var(--blue);
  color: var(--white);
}

.sectionRegister p {
  margin-top: 20px;
}

.sectionRegister a {
  color: #068fff;
}

/*MESSAGE*/
.message {
  padding: 1rem;
  color: var(--blue);
  background-color: var(--white);
  border: 1px solid var(--blue);
  border: 5px;
  text-align: center;
  margin: 0 auto 2rem;
  width: 60%;
}

/** CRIAR PENSAMENTO */
.tought-form-container h1 {
  margin-top: 30px;
}

.tought-form-container form {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.tought-form-container label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.tought-form-container input {
  border: 2px solid white;
  padding: 10px;
  max-width: 400px;
}

.tought-form-container input[type="submit"] {
  margin-top: 20px;
  max-width: 200px;
  border-color: #068fff;
  color: #068fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.tought-form-container h1::before {
  content: "";
  padding: 3px;
  margin-right: 5px;
  background-color: #068fff;
}

/** Seção do dashboard */

.dashboard {
  margin: 0 100px;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.title-container h1::before {
  content: "";
  padding: 3px;
  margin-right: 5px;
  background-color: var(--blue);
}

.btn {
  text-decoration: none;
  padding: 10px;
  border: 2px solid var(--blue);
  color: var(--blue);
  font-weight: bold;
}

.dashboard li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--blue);
}

.dashboard ul {
  margin-top: 20px;
}

.dashboard form {
  display: inline;
  margin: 2px 5px;
}

.home-header {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
}

.home-header h1 {
  margin-bottom: 1rem;
}

.home-header a {
  color: var(--white);
}
.home-header h1 span,
.home-header p span {
  color: var(--blue);
}
.home-header p,
.home-header form {
  margin-bottom: 1rem;
}

.home-header input {
  border: none;
  padding: 0.5rem;
  margin-right: 1rem;
  border-bottom: 1px solid var(--white);
}

.home-header input[type="text"] {
  width: 70%;
  font-size: 18px;
}

.home-header input::placeholder {
  color: var(--white);
}

.order-container {
  display: flex;
  max-width: 70%;
  margin: 0 auto 1rem;
  align-items: center;
  justify-content: center;
}

.order-container form {
  margin: 0;
}

.order-container button {
  border: none;
  cursor: pointer;
  margin-bottom: 0;
}

.order-container button:hover,
.order-container i:hover,
.order-container a:hover {
  color: var(--blue);
}

.order-container button,
.order-container i,
.order-container a {
  margin: 0 7px;
}

.toughts-container figure {
  border-bottom: 1px solid #333;
  padding: 0.5rem;
  max-width: 70%;
  margin: 0 auto 1rem;
}

.title-container blockquote {
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.toughts-container span {
  color: var(--blue);
}
